<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body bgcolor="lightblue">
	<center>
		<table border="2px">
			<tr>
				<th>Name</th>
				<th>Age</th>
				<th>Place</th>
				<th>Email</th>
			</tr>
			{% for i in stud %}
			<tr>
				<td>{{i.name}}</td>
				<td>{{i.age}}</td>
				<td>{{i.place}}</td>
				<td>{{i.email}}</td>
				<td> <a href="/update/{{i.id}}">Update</a> </td>
				<td> <a href="/delete/{{i.id}}">Delete</a> </td>
			</tr>
			{% endfor %}
		</table>
		<p> <a href="/insert/">Do you want to insert the new record?</a> </p>
	</center>

</body>
</html>